
      <span class="missive-avatar missive-column-auto avatar-rounded" style="width: 20px; height: 20px; position: relative; left: -1px;">
        <span class="missive-avatar-img-container">
            <img src="<%=user_data['avatar_url']%>" width="20" height="20">
            <span class="no-wrap"><%=user_data['first_name']%></span>
        </span>
      </span>